/*Colors*/
@green: #68B738;
@green-2: #5EAA2F;
@green-3: #64a83b;
@white: #ffffff;
@grey: #F2F2F2;
@grey-2: #CDCDCD;
@grey-3: #EBEBEB;
@grey-4: #666666;
@grey-5: #EAEAEA;
@dark: #000000;
@dark-2: #111111;
@dark-grey: #444444;
@dark-grey-2: #222222;
@error: #FF8282;
